.card-container {
  width: 100vw;
  height: calc((100vh - 64px) / 2 - 40px);
  overflow-y: auto;
  
}

@media (min-width: 640px) {
    .card-container {
    height: calc(100vh - 64px - 40px);
    width: 50vw;
  }
}

@media (min-width: 768px) {
    .card-container {
    width: 33.333333vw;
  }
}

@media (min-width: 1280px) {
  .card-container {
    width: 25vw;
    }
}
