.map-container {
    width: 100vw;
    height: calc(66.666667dvh - 42.666667px);
  }

  @media (min-width: 640px) {
    .map-container {
    width: 50vw;
    height: calc(100dvh - 64px);
  }
}

@media (min-width: 768px) {
    .map-container {
    width: 66.666667vw;
  }
}

  @media (min-width: 1280px) {
    .map-container {
    width: 75vw;
  }
}

 